/**
 * The fileupload.css with style sheets of the pages using fileupload script
 * 
 * @author Cesar Augustus Silva <cesar@infoartweb.com>
 * @copyright Copyright (c) 2015, InfoArt
 * @license http://www.gnu.org/licenses/gpl.html GNU GPL v3.0
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <-http://www.gnu.org/licenses/>.
 */

.fileupload .buttonbar .btn.loading {
    background-image: url('../../img/admin/ajax-loader-fu.gif');
    background-position: 50%;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.fileupload.image .buttonbar .file {margin: -26px 0 0 -28px;top: 50%;left: 50%;}
.fileupload .buttonbar span {
    display: none;
    padding: 78px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fileupload .buttonbar input {
    height: 0;
    outline: none;
    position: absolute;
    width: 0;
    visibility: hidden;
}
.fileupload .buttonbar input.empty {border: 1px solid #DBA5A4;box-shadow: 0 0 6px #F8B9B7;}
.fileupload .list .template-upload .fade.in {opacity: 0.3;}
.fileupload .list ul {overflow: hidden;}
.fileupload .list ul li {float: left;position: relative;margin: 5px 15px 10px 0;}
.fileupload .list .cancel {bottom: 3px;position: absolute;right: 7px;}
.fileupload .list .delete label {bottom: 6px;position: absolute;right: 6px;}
.fileupload .list span.error + .delete {visibility: hidden;}
.fileupload .list .cancel button {border: none;background: transparent;height: 20px;}
.fileupload .list .delete button {visibility: hidden;position: absolute;}
.fileupload .list .delete input {opacity: 0;position: absolute;top: 0;left: 0;width: 100%;height: 100%;cursor: pointer;}

.fileupload .list .delete input+span:after, .fileupload .list .delete input+span:before {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.fileupload .list .delete input+span:before {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #c5d6de;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.fileupload .list .delete input:checked+span:before {border-color: #00a8ff;}

.fileupload .list .delete input+span:after {
    font-family: startui!important;
    font-style: normal!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-weight: 400!important;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
}
.fileupload .list .delete input:checked+span:after {content: "\22";}
.fileupload .list .preview {
    border: 1px solid rgba(197,214,222,.7);
    overflow: hidden;
}
.fileupload .list .preview .fade:not(.in) {
    width: 163px;
    height: 163px;
    display: block;
}
.fileupload .list .preview img {width: 163px;height: 163px;}
.fileupload .list .progress {
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 1px;
    left: 0;
    padding: 0 32px 0 10px;
    position: absolute;
    width: 100%;
    margin: 0;
}
.fileupload .list .progressbar {
    box-shadow: none;
    height: 5px;
    width: 100%;
    border-radius: .25rem;
    background: #ecf2f5;
}
.fileupload .list .progressbar div {
    background: #00a8ff;
    border-radius: .25rem;
    box-shadow: none;
    height: 5px;
}