html {background-color: #eceff4;height: 100%;}
body {
    background: #eceff4;
    color: #343434;
    font-family: 'Proxima Nova',sans-serif;
    height: 100%;
    position: relative !important;
}
body:before, body:after {display: none;}
@media (min-height: 600px) {
    body {height: 80%;}
}
body.absolute {background-attachment: scroll;}
.login {
    height: 370px;
    left: 50%;
    margin-left: -161px;
    margin-top: -185px;
    position: absolute;
    top: 50%;
    width: 322px;
}
body.absolute .login {position: absolute;margin-top: 0;top: 0;}
.logotipo {
    background: url('../../img/admin/logo-login.jpg') no-repeat;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-bottom: 7px;
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 10px;
}
.sign-box {padding-bottom: 8px;margin-top: 106px;}
.sign-box .sign-title {
    visibility: hidden;
    margin-bottom: 0;
    height: 20px;
}
.copyright {
    bottom: 0;
    cursor: default;
    font-size: 12px;
    left: 0;
    margin-bottom: 6px;
    position: absolute;
    text-align: center;
    width: 100%;
}