/**
 * The change-browser.css with style sheets of the script change browser
 * 
 * @author Cesar Augustus Silva <cesar@infoartweb.com>
 * @copyright Copyright (c) 2015, InfoArt
 * @license http://www.gnu.org/licenses/gpl.html GNU GPL v3.0
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <­http://www.gnu.org/licenses/>.
 */

#change-browser {
    background: url('../img/change-browser/bg-overlay.png') repeat;
    height: 100%;
    left: 0;
    position: fixed;
    _position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999
}
#change-browser .body {
    -khtml-box-shadow: 0 0 5px 0 #CCC;
    -moz-box-shadow: 0 0 5px 0 #CCC;
    -webkit-box-shadow: 0 0 5px 0 #CCC;
    background: #F2F8FF url('../img/change-browser/bg-body.png') 50% 0 no-repeat;
    border-bottom: 1px groove;
    box-shadow: 0 0 5px 0 #CCC;
    display: none;
    overflow: hidden;
    padding: 27px 0;
    text-align: center;
}
#change-browser .close {
    background: url('../img/change-browser/close.png') no-repeat;
    height: 13px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 13px;
}
#change-browser .close:hover {background-position: 0 -13px;}
#change-browser p {color: #0A4279;margin-bottom: 15px;}
#change-browser .title {font-size: 22px;font-weight: 700;line-height: 28px;}
#change-browser .text {font-size: 16px;}
#change-browser ul {margin-top: 25px;}
#change-browser ul li {display: inline;margin-left: 55px;}
#change-browser ul li:first-child {margin-left: 0;}
#change-browser ul li a {
    background: url('../img/change-browser/browsers.png') no-repeat;
    color: #000;
    font-size: 12px;
    height: 1px;
    line-height: 16px;
    display: inline-block;
    padding: 65px 0 30px;
}
#change-browser ul li .chrome {width: 61px;}
#change-browser ul li .edge {background-position: -61px 0;width: 56px;}
#change-browser ul li .firefox {background-position: -117px 0;width: 62px;}
#change-browser ul li .opera {background-position: -179px 0;width: 61px;}
#change-browser ul li .safari {background-position: -240px 0;width: 60px;}