#profile-picture {
    text-align: center;
    position: relative;
    font-size: 22px;
    color: #aaa;
    width: 130px;
    height: 130px;
    border: 1px solid rgba(197,214,222,.7);
    border-radius: 50%;
    margin: 0 auto 10px;
}
#profile-picture .file-btn {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(152, 153, 153, 0.95);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
}
#profile-picture:hover .file-btn,
#profile-picture .file-btn.open {opacity: 1;}
#profile-picture .file-btn span,
#profile-picture .file-btn .dropdown-toggle {
    color: #d5d5d6;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 20px;
}
#profile-picture .file-btn i {color: #fff;}
#profile-picture .file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
#profile-picture .file-btn.dropdown,
#profile-picture.uploaded .file-btn.add {display: none;}
#profile-picture.uploaded .file-btn.dropdown {display: block;}
#profile-picture .dropdown-menu {
    position: absolute;
    top: 100px;
    min-width: auto;
    left: 50%;
    margin-left: -60px;
}
@media (min-width: 544px) {
    form#register .row .photo {width: 158px;}
    form#register .row .data {
        width: -webkit-calc(100% - 160px);
        width: -moz-calc(100% - 160px);
        width: calc(100% - 160px);
    }
    #profile-picture {margin-left: 0;}
}