<body>

   <div class="body-inner">

      <?php echo $this->element('header'); ?>

      <div class="banner-area" id="banner-area" style="background-image:url(images/banner/banner2.jpg);">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col">
                  <div class="banner-heading">
                     <h1 class="banner-title">Contact Us</h1>
                     <ol class="breadcrumb">
                        <li><?php echo $this->Html->link(
                                'Home',
                                ['controller' => 'home', 'action' => 'index']); ?>
                        </li>
                        <li>contact</li>
                     </ol>
                  </div>
               </div>
               <!-- Col end-->
            </div>
            <!-- Row end-->
         </div>
         <!-- Container end-->
      </div>
      <!-- Banner area end-->
      <section class="main-container" id="main-container">
         <div class="container">
            <div class="row text-center">
               <div class="col-md-12">
                  <h2 class="section-title"><span>Send Us Message</span>Contact Us</h2>
               </div>
            </div>
            <!-- Title row end-->
            <div class="row">
               <div class="col-lg-4">
                  <div class="ts-col-inner">
                     <div class="ts-contact-info box-border"><span class="ts-contact-icon float-left"><i class="icon icon-map-marker2"></i></span>
                        <div class="ts-contact-content">
                           <h3 class="ts-contact-title">Find Us</h3>
                           <p>1010 Avenue, NY 90001, USA</p>
                        </div>
                        <!-- Contact content end-->
                     </div>
                     <!-- End Contact info 1-->
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="ts-col-inner">
                     <div class="ts-contact-info box-border"><span class="ts-contact-icon float-left"><i class="icon icon-phone3"></i></span>
                        <div class="ts-contact-content">
                           <h3 class="ts-contact-title">Call Us</h3>
                           <p>1+(91) 458 654 528</p>
                        </div>
                        <!-- Contact content end-->
                     </div>
                     <!-- End Contact info 1-->
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="ts-col-inner">
                     <div class="ts-contact-info box-border"><span class="ts-contact-icon float-left"><i class="icon icon-envelope"></i></span>
                        <div class="ts-contact-content">
                           <h3 class="ts-contact-title">Mail Us</h3>
                           <p>info@example.com</p>
                        </div>
                        <!-- Contact content end-->
                     </div>
                     <!-- End Contact info 1-->
                  </div>
               </div>
            </div>
            <!-- Row End-->
         </div>
         <!-- container end-->
         <div class="gap-60"></div>
         <div class="ts-form" id="ts-form">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <form class="contact-form" id="contact-form" action="http://themewinter.com/demo/html/bizipress/blue/contact-form.php" method="POST">
                        <div class="error-container"></div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <input class="form-control form-name" id="name" name="name" placeholder="Full Name" type="text" required="">
                              </div>
                           </div>
                           <!-- Col end-->
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <input class="form-control form-website" id="url" name="url" placeholder="Website" type="url" required="">
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <input class="form-control form-email" id="email" name="email" placeholder="Email" type="email" required="">
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <textarea class="form-control form-message required-field" id="message" placeholder="Comments" rows="8"></textarea>
                              </div>
                           </div>
                           <!-- Col 12 end-->
                        </div>
                        <!-- Form row end-->
                        <div class="text-right">
                           <button class="btn btn-primary tw-mt-30" type="submit">Contact US</button>
                        </div>
                     </form>
                     <!-- Form end-->
                  </div>
                  <div class="col-lg-6">
                     <div class="map" id="map"></div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <?php echo $this->element('footer'); ?>

      <div class="back-to-top affix" id="back-to-top" data-spy="affix" data-offset-top="10">
         <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i>
            <!-- icon end-->
         </button>
         <!-- button end-->
      </div>
      <!-- End Back to Top-->

      <!--
      Javascript Files
      ==================================================
      -->
      <!-- initialize jQuery Library-->
      <script type="text/javascript" src="js/jquery.js"></script>
      <!-- Popper-->
      <script type="text/javascript" src="js/popper.min.js"></script>
      <!-- Bootstrap jQuery-->
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <!-- Owl Carousel-->
      <script type="text/javascript" src="js/owl.carousel.min.js"></script>
      <!-- Counter-->
      <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
      <!-- Waypoints-->
      <script type="text/javascript" src="js/waypoints.min.js"></script>
      <!-- Color box-->
      <script type="text/javascript" src="js/jquery.colorbox.js"></script>
      <!-- Smoothscroll-->
      <script type="text/javascript" src="js/smoothscroll.js"></script>
      <!-- Google Map API Key-->
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
      <!-- Google Map Plugin-->
      <script type="text/javascript" src="js/gmap3.js"></script>
      <!-- Template custom-->
      <script type="text/javascript" src="js/custom.js"></script>
   </div>
   <!--Body Inner end-->
</body>


<!-- Mirrored from themewinter.com/demo/html/bizipress/blue/contact-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Apr 2018 12:47:11 GMT -->
</html>